<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Add jobs:Mero Jagir: Get Unlimited Jobs vacancy with us</title>-->
<!--    <link rel="shortcut icon" type="x-icon" th:href="@{~/Images/logo1.png}">-->

<!--    <link rel="stylesheet" th:href="@{~/css/addForm.css}">-->
<!--</head>-->
<!--<body>-->
<!--    <div class="maindiv">-->
<!--        <div class="formdiv">-->
<!--            <form th:method="post" th:action="@{/jobs/saveJobs}" th:object="${jobs}" enctype="multipart/form-data">-->
<!--                <h1>Add The Jobs </h1>-->
<!--                <input type="text" hidden th:field="*{id}" th:value="${jobs.id}">-->
<!--                <input type="text"  placeholder="Enter your Job Title" required th:field="*{job_title} " th:value="${jobs.job_title}">-->
<!--                <input type="text"  placeholder="Enter your Category" required th:field="*{category} " th:value="${jobs.category}">-->
<!--&lt;!&ndash;                <input type="text"   placeholder="Enter the Type" required th:field="*{type} " th:value="${jobs.type}">&ndash;&gt;-->
<!--                <select name="people" id="people" required th:field="*{type}" th:value="${jobs.type}">-->
<!--                    <option value="">   -&#45;&#45;type of jobs-&#45;&#45;</option>-->
<!--                    <option value="full time">Full Time</option>-->
<!--                    <option value="part time">Part Time</option>-->
<!--                </select>-->
<!--                <input type="file" name="image" accept="image/*" class="form-control-file" required>-->
<!--                <input type="text"  placeholder="Enter the Address" required th:field="*{address} " th:value="${jobs.address}">-->
<!--                <input type="text"  placeholder="Enter the Contact" required th:field="*{contact} " th:value="${jobs.contact}">-->
<!--                <input type="text"  placeholder="Enter the salary" required th:field="*{salary} " th:value="${jobs.salary}">-->
<!--&lt;!&ndash;                <input type="text"  placeholder="Enter the Description" required th:field="*{description} " th:value="${jobs.description}">&ndash;&gt;-->
<!--                <textarea placeholder="Enter the description" required th:field="*{description} " th:value="${jobs.description}"></textarea>-->
<!--                <textarea placeholder="Enter the Full Description" required th:field="*{full_description} " th:value="${jobs.full_description}"></textarea>-->
<!--                <input type="submit" name="submit" value="Add" >-->
<!--             &lt;!&ndash;&ndash;&gt;-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->



<!--&lt;!&ndash;    <script type="text/javascript">&ndash;&gt;-->
<!--&lt;!&ndash;        function validate(){&ndash;&gt;-->
<!--&lt;!&ndash;            var password = document.getElementById("password").value;&ndash;&gt;-->
<!--&lt;!&ndash;            var password2 = document.getElementById("password2").value;&ndash;&gt;-->
<!--&lt;!&ndash;            if(password != password2){&ndash;&gt;-->
<!--&lt;!&ndash;                alert("Password does not match");&ndash;&gt;-->
<!--&lt;!&ndash;                // return false;&ndash;&gt;-->
<!--&lt;!&ndash;            }&ndash;&gt;-->
<!--&lt;!&ndash;            else{&ndash;&gt;-->
<!--&lt;!&ndash;                alert("Password match");&ndash;&gt;-->
<!--&lt;!&ndash;                // return true;&ndash;&gt;-->
<!--&lt;!&ndash;            }&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--&lt;!&ndash;        function validateEmail(){&ndash;&gt;-->
<!--&lt;!&ndash;            var email = document.getElementById("email").value;&ndash;&gt;-->
<!--&lt;!&ndash;            var atposition = email.indexOf("@");&ndash;&gt;-->
<!--&lt;!&ndash;            var dotposition = email.lastIndexOf(".");&ndash;&gt;-->
<!--&lt;!&ndash;            if(atposition < 1 || dotposition < atposition + 2 || dotposition + 2 >= email.length){&ndash;&gt;-->
<!--&lt;!&ndash;                alert("Please enter a valid e-mail address");&ndash;&gt;-->
<!--&lt;!&ndash;                return false;&ndash;&gt;-->
<!--&lt;!&ndash;            }&ndash;&gt;-->
<!--&lt;!&ndash;            else{&ndash;&gt;-->
<!--&lt;!&ndash;                return true;&ndash;&gt;-->
<!--&lt;!&ndash;            }&ndash;&gt;-->
<!--&lt;!&ndash;        }&ndash;&gt;-->
<!--&lt;!&ndash;    </script>&ndash;&gt;-->
<!--</body>-->users
<!--</html>-->