<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Add Teams :Mero Jagir: Get Unlimited Jobs vacancy with us</title>-->
<!--    <link rel="shortcut icon" type="x-icon" th:href="@{~/Images/logo1.png}">-->
<!--    <link rel="stylesheet" th:href="@{~/css/auth.css}">-->
<!--    <link rel="stylesheet" th:href="@{~/css/AdminCss/adminNav.css}">-->

<!--</head>-->
<!--<body>-->
<!--<div th:replace="Fragments/AdminSlide.html :: slider"></div>-->

<!--<div class="maindiv">-->
<!--    <div class="formdiv">-->
<!--        <form th:method="post" th:action="@{/admin/saveTeam}" th:object="${teams}">-->
<!--            <h1>Add Team Member </h1>-->
<!--            <input type="text" hidden th:field="*{id}" th:value="${teams.id}">-->
<!--            <input type="text"  placeholder="Enter your Fullname" required th:field="*{fullname} " th:value="${teams.fullname}">-->
<!--            <input type="text"  placeholder="Enter your Contact" required th:field="*{contact} " th:value="${teams.contact}">-->
<!--            <input type="text"   placeholder="Enter the Address" required th:field="*{address} " th:value="${teams.address}">-->
<!--            <input type="email"  placeholder="Enter the Email" required th:field="*{email} " th:value="${teams.email}">-->
<!--            <input type="text"  placeholder="Enter the Nationality" required th:field="*{nationality} " th:value="${teams.nationality}">-->
<!--            <input type="text"  placeholder="Enter the Facebook Link" required th:field="*{facebook} " th:value="${teams.facebook}">-->
<!--            <input type="text"  placeholder="Enter the Github Link" required th:field="*{github} " th:value="${teams.github}">-->
<!--            <input type="text"  placeholder="Enter the Linkedin Link" required th:field="*{linkedin}" th:value="${teams.linkedin}">-->
<!--            <input type="file" name="image" accept="image/*" class="form-control-file">-->
<!--            <input type="text"  placeholder="Enter the Role" required th:field="*{role} " th:value="${teams.role}">-->
<!--            &lt;!&ndash;                <input type="text"  placeholder="Enter the Description" required th:field="*{description} " th:value="${jobs.description}">&ndash;&gt;-->
<!--&lt;!&ndash;            <textarea placeholder="Enter the description" required th:field="*{description} " th:value="${teams.description}"></textarea>&ndash;&gt;-->
<!--&lt;!&ndash;            <textarea placeholder="Enter the Full Description" required th:field="*{full_description} " th:value="${teams.full_description}"></textarea>&ndash;&gt;-->
<!--            <input type="submit" name="submit" value="Add" >-->
<!--            &lt;!&ndash;&ndash;&gt;-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->