<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MJobCom: Find you dream jod and Explore the Jobs World</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="shortcut icon" type="x-icon" th:href="@{~/Images/logo.png}">
  <link rel="stylesheet" th:href="@{~/css/MoreInfo.css}">
    <script  th:src="@{~/js/MoreInfo.js}" defer></script>

</head>
<body >

<!--<div th:replace="Fragments/userNav.html :: navigation"></div>-->

<div class="container">
    <header>Registration</header>

    <div class="form first">
        <form id="form" th:method="post" th:action="@{/user/saveApplication}" th:object="${applyApplication}" enctype="multipart/form-data">
            <div class="details personal">
                <span class="title">Personal Details</span>
                <input type="text"  hidden="hidden" name="Applied_jobs_FK" th:value="${jobs.id}">
                <input type="text"  hidden="hidden" name="Applied_user" th:value="${info.id}">


                <div class="fields">
                    <div class="input-field">
                        <label>Full Name</label>
                        <input type="text" id="Fullname" placeholder="Enter your name"   readonly th:value="${info.fullname}">

                    </div>
                    <div class="input-field">
                        <label>Email</label>
                        <input type="text" id="Email" placeholder="Enter your email"  readonly th:value="${info.email}">
                    </div>

                    <div class="input-field">
                        <label>Mobile Number</label>
                        <input type="number" id="Mobile" placeholder="Enter mobile number"   readonly th:value="${info.mobileNo}">
                    </div>

                    <div class="input-field">
                        <label>address</label>
                        <input type="text" id="Address" placeholder="Enter your address"  th:field="*{address}">
                        <div class="error"></div>
                    </div>

                    <div class="input-field">
                        <label>Gender</label>
                        <select   id="Gender" th:field="*{gender}">
                            <option value="select">Select gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Others</option>
                        </select>
                        <div class="error"></div>

                    </div>

                </div>
            </div>

            <div class="details personal">
                <span class="title">Jobs Details</span>

                <div class="fields">
                    <div class="input-field">
                        <label>Jobs Title</label>
                        <input type="text" id="Jobs" readonly placeholder="Enter your name" th:value="${jobs.job_title}" >
                    </div>

                    <div class="input-field">
                        <label>Jobs Address</label>
                        <input type="text" id="Jobsaddress" readonly placeholder="Enter your email" th:value="${jobs.address}" >
                    </div>

                    <div class="input-field">
                        <label>Mobile Number</label>
                        <input type="number" id="mobileNo" readonly placeholder="Enter mobile number" th:value="${jobs.contact}" >
                    </div>
                </div>
            </div>
            <div class="details ID">
                <span class="title">Identity Details</span>
                <div class="fields">
                    <div class="input-field">
                        <label>ID Type</label>
                        <select id="Id" th:field="*{id_type}">
                            <option value="select">Select Type</option>
                            <option value="citizen">Citizen</option>
                            <option value="passport">Passport</option>
                            <option value="others">Others</option>
                        </select>
                        <div class="error"></div>

                    </div>

                    <div class="input-field">
                        <label>ID Number</label>
                        <input type="number" id="idNumber" placeholder="Enter ID number"  th:field="*{id_num}">
                        <div class="error"></div>
                    </div>
                </div>
            </div>
            <div class="details ID">
                <span class="title">CV</span>
                <div class="fields">
                    <div class="input-field">
                        <label>CV</label>
                        <input type="file" id="file" name="file" accept="application/pdf/*">
                        <div class="error"></div>
                    </div>
                </div>

            </div>
            <button class="nextBtn" type="submit">
                <span class="btnText">Next</span>
                <i class="uil uil-navigator"></i>
            </button>
        </form>
    </div>
</div>


<!--<div th:replace="Fragments/UserFooter.html :: footer"></div>-->

</body>
<!--<script th:src="@{~/js/apply.js}"></script>-->

<script>
  let myPage = "";
  let listGroupItem = Array.from(document.getElementsByClassName("list-group-item"));
  listGroupItem.forEach(i=>{
    i.classList.remove("active")
  })
  let activeID = document.getElementById(myPage);
  activeID.classList.add("active");
</script>

</html>