<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JobCom: Find the information about Jobcom..</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{~/css/About.css}" />
    <link rel="stylesheet" th:href="@{~/css/Newhome.css}" />
    <link rel="shortcut icon" type="x-icon" th:href="@{~/Images/logo.png}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />


</head>

<body>
<div th:replace="Fragments/userNav.html :: navigation"></div>


<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">About Company</span>
                        <h2>We are leader in <br />Job market Since 2013</h2>
                    </div>
                    <div class="text">
                        At JobCom, our legacy is one of innovation, leadership, and transformation in the job market. Since our inception in 2023, we have been at the forefront of revolutionizing how individuals navigate their career journeys. Our commitment to excellence and dedication to creating impactful opportunities have solidified our position as a true leader in the industry.
                        <br/>
                        What Sets Us Apart:
                    </div>
                    <ul class="list-style-one">
                        <li> Visionary Leadership: From day one, we set out with a clear vision to empower job seekers and professionals to achieve their aspirations. Our visionary leadership guides us in constantly pushing boundaries and adapting to the ever-evolving dynamics of the job market.
                        </li>
                        <li>Cutting-edge Technology: Embracing technology has been instrumental in our success. We harness the power of advanced algorithms, data analytics, and AI-driven tools to provide unmatched insights and solutions for job seekers and employers alike.</li>
                        <li>Data-Driven Insights: In a rapidly changing world, data is our compass. Our deep understanding of market trends, industry demands, and emerging opportunities enables us to provide informed guidance and strategies to job seekers.</li>
                        <li>Comprehensive Solutions: Our offerings extend far beyond traditional job placement. We provide a comprehensive ecosystem of services, from resume optimization and interview coaching to personalized career pathing, ensuring every aspect of your journey is supported.</li>

                    </ul>
                    <div class="btn-box">
                        <a href="#" class="theme-btn btn-style-one">Contact Us</a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                    <figure class="image-1">
                        <a href="#" class="lightbox-image" data-fancybox="images"><img
                                src="https://images.unsplash.com/photo-1570126618953-d437176e8c79?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29tcGFueXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80" alt="" /></a>
                    </figure>
                    <figure class="image-2">
                        <a href="#" class="lightbox-image" data-fancybox="images"><img
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Nokia_office_building_in_Hervanta_Tampere_1.jpg/220px-Nokia_office_building_in_Hervanta_Tampere_1.jpg" alt="" /></a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="why feat bg-gray pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="section-head col-sm-12">
                <h4><span>Why Choose</span> Us?</h4>
                <p>
                    Elevate Your Journey: Discover Why We're Your Best Choice
                </p>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <span class="icon feature_box"><i class="fa fa-globe"></i></span>
                    <h6> Expertise That Matters</h6>
                    <p>
                       Our seasoned professionals bring a wealth of knowledge and experience, ensuring you receive expert guidance and support.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <span class="icon feature_box"><i class="fa fa-anchor"></i></span>
                    <h6>Tailored Solutions</h6>
                    <p>
                        We understand your unique needs and deliver customized solutions that perfectly align with your goals.                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <span class="icon feature_box"><i class="fa fa-hourglass-half"></i></span>
                    <h6> Unrivaled Results</h6>
                    <p>
                       Our track record speaks for itself; we've consistently helped individuals and businesses achieve remarkable success.                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <span class="icon feature_box"><i class="fa fa-database"></i></span>
                    <h6>Personalized Attention</h6>
                    <p>
                        You're not just a client; you're a partner. We prioritize your journey and provide dedicated attention every step of the way.                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <span class="icon feature_box"><i class="fa fa-upload"></i></span>
                    <h6>Proven Strategies</h6>
                    <p>
                        Our tried-and-true methods have delivered tangible results, making us a trusted choice for your needs.                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item">
                    <span class="icon feature_box"><i class="fa fa-camera"></i></span>
                    <h6>End-to-End Support</h6>
                    <p>
                        From consultation to execution, our comprehensive services ensure a seamless and satisfying experience.                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container flex">
        <p class="tertiary">
            &copy;  All Rights Reserved.@JobCom
        </p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<!-- Ion Icons Js -->
<script
        type="module"
        src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"
></script>
<script
        nomodule
        src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"
></script>
<!-- JS -->
<script th:src="@{~/js/Nav.js}"></script>
</body>

</html>