

<div th:fragment="slider">
    <header>
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
            <div class="position-sticky">
                <div class="list-group list-group-flush mx-3 mt-4">
                    <a th:href="@{~/admin/dashboard}" class="list-group-item list-group-item-action py-2 ripple active" id="main" aria-current="true">
                        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
                    </a>
                    <a th:href="@{~/admin/jobslist}" class="list-group-item list-group-item-action py-2 ripple " id="jobs">
                        <i class="fas fa-chart-area fa-fw me-3"></i><span>All Jobs</span>
                    </a>
                    <a th:href="@{~/admin/jobscreate}" class="list-group-item list-group-item-action py-2 ripple" id="addjob">
                        <i class="fas fa-solid fa-plus fa-fw me-3"></i><span>Add Jobs</span>
                    </a>
                    <a th:href="@{~/admin/seeteams}" class="list-group-item list-group-item-action py-2 ripple" id="members">
                        <i class="fas fa-solid fa-user fa-fw me-3"></i><span>All Member</span>
                    </a>
                    <a th:href="@{~/admin/createteam}" class="list-group-item list-group-item-action py-2 ripple" id="addmembers">
                        <i class="fas fa-solid fa-plus fa-fw me-3"></i><span>Add Member</span>
                    </a>

                    <a th:href="@{~/admin/application}" class="list-group-item list-group-item-action py-2 ripple" id="application">
                        <i class="fas fa-solid fa-clipboard fa-fw me-3"></i><span>Application</span>
                    </a>
                    <a th:href="@{~/admin/alluser}" class="list-group-item list-group-item-action py-2 ripple" id="users"><i
                            class="fas fa-globe fa-fw me-3"></i><span>Users</span>
                    </a>
                    <a th:href="@{~/admin/contactlist}" class="list-group-item list-group-item-action py-2 ripple" id="contact">
                        <i class="fas fa-solid fa-envelope fa-fw me-3"></i><span>Contact</span>
                    </a>
                </div>
            </div>
        </nav>
        <!-- Sidebar -->

        <!-- Navbar -->
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Brand -->
                <a class="navbar-brand" href="#">
                    <img th:src="@{~/Images/logo.png}" height="25" alt="Mero Jagir" loading="lazy" />
                </a>

                <!-- Right links -->
                <ul class="navbar-nav ms-auto d-flex flex-row">
                    <!-- Notification dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink"
                           role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-bell"></i>
                            <span class="badge rounded-pill badge-notification bg-danger">1</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="#">Notifications</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Icon -->
                    <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="https://github.com/abishek07bimali/Job_Portal.git">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <!-- Avatar -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
                           id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle"
                                 height="22" alt="Avatar" loading="lazy" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" th:href="@{~/admin/profile}">My profile</a>
                            </li>
<!--                            <li>-->
<!--                                <a class="dropdown-item" >Settings</a>-->
<!--                            </li>-->
                            <li>
                                <a class="dropdown-item" th:href="@{~/logout}">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </header>
    <!--Main Navigation-->

</div>
