

<div th:fragment="errormessage" class="message">

  <div id="error_Message" style="background-color: rgb(250,92,92); text-align: center">
    <label >Invalid Username or Password </label>
  </div>

<!--  <div class="alert alert-warning alert-dismissible fade show" role="alert">-->
<!--    <strong>Holy guacamole!</strong> You should check in on some of those fields below.-->
<!--    <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--      <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--  </div>-->


</div>

<div th:fragment="successMessage" class="message">

  <div id="success_Message" style="background-color: rgb(250,92,92); text-align: center">
    <label >Successfully Submitted </label>
  </div>

<!--  <div class="alert alert-warning alert-dismissible fade show" role="alert">-->
<!--    <strong>Holy guacamole!</strong> You should check in on some of those fields below.-->
<!--    <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--      <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--  </div>-->


</div>
