

<div th:fragment="footer" class="row">
    <footer>
        <div class="information">
            <img th:src="@{~/Images/logo.png}" alt="Image not Found">
            <h3>Mero Jagir</h3>
            <p> <a href="">022:000000</a></p>
            <p> <a href="">jobcom12@gmail.com</a> </p>
        </div>
        <div class="quicklinks">
            <h2>Quick links</h2>
            <p> <a href="">about</a></p>
            <p> <a href="">contact</a></p>
            <p> <a href="">find us</a></p>
        </div>
        <div class="sociallinks">
            <h2>Stay Connected</h2>
            <h4>facebook</h4>
            <h4>twitter</h4>
            <h4>instagram</h4>
            <h4>Youtube</h4>
        </div>
        <div class="emailcontact">
            <h3>Email us Your Quaries</h3>
            <div class="email">
                <input type="email" name="" id="" placeholder="  Enter your email">
                <button><a href="">Send</a></button>
            </div>
        </div>
    </footer>
</div>
